ENV_NAME=local
AWS_REGION_NAME=eu-west-3
DYNAMO_TABLE=chatbot-local
MISTRAL_API_KEY=votre_cle_api_mistral
TELEGRAM_BOT_TOKEN=votre_token_telegram
WEBHOOK_URL=
CONVERSATION_TTL_DAYS=30
AWS_ACCESS_KEY_ID=votre_access_key
AWS_SECRET_ACCESS_KEY=votre_secret_access_key
